				@font-face {
					font-family: 'gotham';
					src: url('/bluemoon/wp-content/uploads/useanyfont/.8485gotham.woff2') format('woff2'),
						url('/bluemoon/wp-content/uploads/useanyfont/.8485gotham.woff') format('woff');
						  font-display: auto;
				}

				.gotham{font-family: 'gotham' !important;}

				.et_gf_gotham{background:none !important;font-family:gotham;text-indent:0 !important;font-size:25px;}

		