/* Dúvidas
========================================================================== */
.duvidas-main{
    margin-top: 80px;
    margin-bottom: 80px;
    .titulo-main{
        .sup{
            line-height: 1.5;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 1px;
            color: #0b80df;
            font-weight: 500;
            font-family: "Poppins";
        }
        .sub{
            line-height: 1;
            text-transform: uppercase;
            font-size: 49px;
            letter-spacing: 2px;
            color: #434342;
            font-weight: 700;
            font-family: "Poppins";
        }
        .legend{
            margin-top: 10px;
            max-width: 914px;
            font-size: 18px;
            letter-spacing: 1px;
            color: #6e6e6e;
            font-weight: 400;
            font-family: "Poppins";
        }
    }
    .duvidas-lista{ 
        padding: 0 10px;
    }
    .duvida{
        margin-top: 40px;
        margin-left: 30px;
        list-style-type: disc;
        font-size: 30px;
        color:#0b80df;
        .subtitle{
            text-transform: none;
            font-size: 22px;
            letter-spacing: 1px;
            color: #434342;
            font-weight: 700;
            font-family: "Poppins";
        }   
    }   
    .subtext{
        text-transform: none;
        line-height: 1.2;
        font-size: 16px;
        letter-spacing: 1px;
        color: #6e6e6e;
        font-weight: 400;
        font-family: "Poppins";
        p{
            margin-top: 10px;
        }
    }
}