/* Footer
========================================================================== */
.main-footer{
    border-top: 4px solid #0b80df;
    background-color: #282828;
    .dev{
        height: 24px;
        background-color: #525252;
        div{
            a{
                font-size: 14px;
                letter-spacing: 1px;
                color: #acacac;
                font-weight: 300;
                font-family: "Poppins";
                float: right;
                margin-right: 10%;
            }
        }
    }
    .al-container{
        column-gap: 30px;
        .row-footer{
            justify-content: space-between;
            padding: 40px 0;
            display: flex;
            flex-wrap: wrap;
            img{
                &.redirect{
                   padding-right: 10px;
                }
            }
            .redirect{
                img{
                    padding-right: 10px;
                }
            }
            .column-footer{
                padding: 30px 0px;
                p.footer-title{
                    font-size: 20px;
                    text-transform: uppercase;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    line-height: 1em;
                }
                p,a{ 
                    i{
                        font-size: 20px;
                    }
                    margin-top: 8px;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: #acacac;
                    font-weight: 300;
                    font-family: "Poppins";
                }
                a, .redirect{
                    cursor: pointer;
                }
                a:hover, .redirect:hover{
                    color: $white;
                }
            }
            .direito{
                text-transform: uppercase;
            }
            .contato{
                p{
                    a{
                        align-items: center;
                        display: flex;
                    }
                }
            }
            .contato, .localizacao{
                white-space: nowrap;
                #localizacao{
                    display: flex;
                    align-items: center;
                    img{
                        height: 40px;
                    }
                }
            }
            .localizacao{
                div{
                    display: flex;
                    justify-content: space-between;
                }
            }
            .localizacao{
                a{
                    i{
                        font-size: 40px;
                    }
                }
            }
            .redes-sociais{
                p:not(.footer-title){
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: left;
                    align-items: flex-start;
                    align-content: center;
                    column-gap: 15px;
                }
                .content-redes-sociais{
                    position: relative;
                    display: flex;
                }
                .content-redes-sociais:hover{
                    transform: rotateY(360deg);
                }
            }
            .logo{
                a,p{  
                    letter-spacing: 1px;
                    font-size: 14px;
                    line-height: 18px;
                    color: #acacac;
                    font-weight: 400;
                    font-family: "Poppins";
                    p{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.fas, .far{
    padding-right: 10px
}
@media screen and(max-width: 1230px){
    .main-footer{
        .al-container{
            .row-footer{
                justify-content: space-around;
                text-align: center;
            }
        }
    }
}