/* Header
========================================================================== */
.main-header{
    border-top: 25px solid $black;
    background-color: $white;
    filter: drop-shadow(0px 9px 10.5px rgba(0,0,0,0.11));
    .al-container{
        height: 105px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .logo{
            width: 124px;
        }
        .main-menu{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .button{
                padding-left: 30px;
                a{
                    background-color: #0b80df;
                    color: white;
                    border-radius: 8px;
                    padding: 5px 15px;
                    text-transform: uppercase;
                    font-size: 16px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    font-family: "Poppins";
                }
            }
            >ul{
                height: 105px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                column-gap: 30px;
                li{
                    border-bottom: 4px solid transparent;
                    height: 105px;
                    display: flex;
                    align-items: center;
                    padding: 0px 10px;
                    transition: all .3 ;
                    a{
                        text-transform: uppercase;
                        font-size: 16px;
                        letter-spacing: 1px;
                        color: $black;
                        font-weight: 600;
                        font-family: "Poppins";
                    }
                    &.current_page_item, 
                    &.current-menu-item,
                    &.current-menu{
                        a{color: #0b80df;}
                        height: 104px;
                        border-bottom: #000 3px solid;
                    }
                    &:hover{
                        a{color: #0b80df;}
                    }
                }
            }
        }
    }
}
