/* Home
========================================================================== */
.al-container{
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card-left, .card-right{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 520px;
            width: 100%;
            margin-top: 120px;
            border-radius: 5px;
            padding: 0 10px;
            filter: drop-shadow(0px 11px 23px rgba(0,0,0,0.18));
            background-color: #ffffff;
            img{
                margin-top: -80px;
                max-width: 75%;
                max-height: 50%;
            }
            .content{
                padding: 20px 10px;
                .text{
                    max-width: 485px;
                    font-size: 18px;
                    letter-spacing: 1px;
                    line-height: 28px;
                    color: #6e6e6e;
                    font-weight: 400;
                    font-family: "Poppins";
                }
            }
        }
    }
    .cards{
        padding: 100px 20px;
    }
}
.azul{
    color: #0b80df;
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 115px 0px;
    .left-side{
        margin-left: auto;
        max-width: 40%;
        padding: 0 30px;
        img{
            padding: 30px 0px;  
        }
    }
    .right-side{
        max-width: 60%;
        img{
            padding: 30px 0px;  
        }
    }
}
.sub-title, .title, .btn, .entry-title, .entry-content{
    text-transform: uppercase;
    font-family: "Poppins";
}
.sub-title{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}
.title, .entry-title{
    font-size: 46px;
    letter-spacing: 2px;
    color: #434342;
    font-weight: 700;
}
.text, .entry-content{
    font-size: 18px;
    letter-spacing: 1px;
    color: #6e6e6e;
    font-weight: 400;
    font-family: "Poppins";
}
.btn{
    cursor: pointer;
    width: 245px;
    height: 38px;
    background-color: #434342;
    border: none;
    margin-top: 40px;
    color: $white;
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    transition: all .3s;
    margin-left: 0%;
}
.btn:hover{
    filter: drop-shadow(0px 0px 4px #CCC);
    background-color: #0b80df;
}
.suites{
    filter: drop-shadow(0px 11px 23px rgba(56, 37, 37, 0.18));
    background-color: #f9f9f9;
    max-width: 100%;
    .rowt{
        display: flex;
        flex-wrap: wrap;
        align-items: top;
        justify-content: space-around;
        position: relative;
        .nome-num{
            margin-top: -3%;
        }
        .img{
            max-height: 492px;
            width: 58%;
            margin-left: auto;
            .imagem-suite{
                max-height: 492px;
                width: 100%;
                right:0px;
                left: auto; 
            }
            .fa-images, .far{
                font-size: 420px;
            }
        }
        .nome-num{
            max-height: 492px;
            width: 40%;
            left: 5%;
            position: absolute;
            .title-background{  
                opacity: 0.2;
                margin-left: 0px;
            }
            .nome{
                width: 100%;
                text-transform: uppercase;
                font-size: 49px;
                letter-spacing: 2px;
                color: #918c89;
                font-weight: 700;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -100%);
            }
        }
        .valores-horas{    
            position: absolute;
            left: 50%;
            top: 56%;
            transform: translateX(-50%);
            .legend{
                font-size: 30px;
                color: #434342;
                font-weight: 700;
                font-family: "Poppins";
                margin-left: 28px;
            }
            .sublegend{
                float: right;
                font-size: 25px;
                color: #918c89;
                font-weight: 400;
                font-family: "Poppins";
            }
            .val{
                position: relative;
                .real{
                    font-size: 25px;
                    color: #918c89;
                    font-weight: 400;
                    font-family: "Poppins";
                    position: absolute;
                    right: 100%;
                    margin-top: 9px;
                }
                .title2{
                    white-space: nowrap;
                    margin-left: 30px;
                    position: relative;
                    color: #0b80df;
                }
            }
        }
        .buttons{
            a{
                cursor: pointer;
                position: absolute;
                top: 44%;
                font-size: 60px;
                color: #ababab;
            }
            a:hover{
                color: #EEE;
            }
            .back{
                z-index: 2;
                left: 5%;
            }
            .next{
                right: 1%;
                z-index: 3;
            }
        }
        .reservas{
            padding: 0;
            .btn-reserva{
                margin-top: -80px;
                text-transform: uppercase;
                border: 2px solid #918c89;
                background-color: #0000;
                width: 272px;
                height: 38px;   
                font-size: 18px;
                letter-spacing: 1px;
                color: #676767;
                font-weight: 600;
                font-family: "Poppins";
                z-index: 1;
                cursor: pointer;
                transition: all .3s;
            }
            .btn-reserva:hover{
                color: $white;
                border: 2px solid #676767;
                background-color: #676767;
            }
        }
    }
}
.cafe{
    margin-bottom: 120px;    
    display: flex;
    align-items: center;
    .right{
        float: right;
        padding-left: 20px;
        .text{
            max-width: 420px;
        }
    }
    .left{
        .cafe-img{
            min-height: 320px;
            width: 100%;
        }
    }
    .btn-reserva{
        cursor: pointer;
        margin-top: 20px;
        text-transform: uppercase;
        border: 2px solid #918c89;
        background-color: #0000;
        width: 272px;
        height: 38px;   
        font-size: 18px;
        letter-spacing: 1px;
        color: #676767;
        font-weight: 600;
        font-family: "Poppins";
        transition: all .3s;
        z-index: 1;
    }
    .btn-reserva:hover{
        color: $white;
        border: 2px solid #676767;
        background-color: #676767;
    }
}
.slider-home{
    width: 100%;
}
.slider-home-mobile{
    display: none;
}
@media screen and (max-width: 480px){
    .slider-home{
        display: none;
    }
    .slider-home-mobile{
        width: 100%;
        display: flex;
    }
}
@media screen and (max-width:1230px){
    .al-container{
        .cards{
            justify-content: center;
            align-items: center;
            .card-left, .card-right{
                padding: 0 40px;
            }
            .card-right{
                margin-left: 5%;
                margin-right: 5%;
            }
            .sublegend{
                font-size: 16px;
            }
            .title{
                font-size: 32px;
            }
        }
    }
    .content, .second-c{
        .left-side{
            max-width: 100%;
            margin-left: 0;
            padding: 0 30px;
            .half-container {
                padding-right: 0;
                width: 100%;
                max-width: 100%;
                .btn{    
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
                .title{
                    font-size: 38px;
                }
            }
        }
        .right-side{
            max-width: 100%;
            width: 100%;
            img{
                width: 100%;
                height: auto; 
            }         
        }
    }
    .content{
        padding: 115px 10px;
    }
    .suites{
        .rowt{
            .valores-horas{
                top: 45%;
            }
            .img{
                text-align: center;
                width: 100%;
                .imagem-suite{
                    height: 100%;
                }
                .fa-images{
                    top: 0%;
                    left: 50%;
                    font-size: 16em;
                }
            }
            .nome-num{
                width: 100%;
                left: 0;
                position: relative;
                .nome{
                    padding: 0 10px;
                }
                .title-background{
                    font-size: 16em;
                }
            }
        }
    }
}