@charset "UTF-8";
/**
 * Theme Name: AreaStructure
 * Theme URI: http://www.arealocal.com.br
 * Author: Equipe &Aacute;rea Local
 * Author URI: http://www.arealocal.com.br
 * Description: Esse tema &eacute; um tema personalizado pela &Aacute;rea Local, caso necessite de algum atendimento entre em contato no telefone <a href="tel:+554735219850" target="_blank">(47) 3521-9850</a> ou no e-mail <a href="mailto:suporte@arealocal.com.br" target="_blank">suporte@arealocal.com.br</a>. Para mais informa&ccedil;&otilde;es acesse: <a href="http://www.arealocal.com.br" target="_blank">www.arealocal.com.br</a>.
 * Version: 4.0.0
 * Text Domain: estrutura-basica
**/
/* Global variables
========================================================================== */
/* Mixins
========================================================================== */
/* Global Mixins
========================================================================== */
/* Fonts
========================================================================== */
/* vietnamese */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/greatvibes/v13/RWmMoKWR9v4ksMfaWd_JN9XKiaQ6DQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/greatvibes/v13/RWmMoKWR9v4ksMfaWd_JN9XLiaQ6DQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/greatvibes/v13/RWmMoKWR9v4ksMfaWd_JN9XFiaQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u-w4BMUTPHjxsIPx-mPCLQ7A.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u-w4BMUTPHjxsIPx-oPCI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI9w2_FQft1dw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHjxsAUi-qJCY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHjxsAXC-q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI5wq_FQft1dw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI3wi_FQft1dw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI3wi_Gwft.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHh30AUi-qJCY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHh30AXC-q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh7USSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh50XSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiAyp8kv8JHgFVrJJLmE0tDMPKzSQ.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiAyp8kv8JHgFVrJJLmE0tMMPKzSQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiAyp8kv8JHgFVrJJLmE0tCMPI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmv1pVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmv1pVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmv1pVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm21lVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm21lVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm21lVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiGyp8kv8JHgFVrJJLucXtAKPY.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiGyp8kv8JHgFVrJJLufntAKPY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmg1hVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmg1hVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmr19VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmy15VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmy15VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm111VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm111VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm111VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm81xVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm81xVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm81xVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiGyp8kv8JHgFVrLPTucXtAKPY.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiGyp8kv8JHgFVrLPTufntAKPY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLDD4Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLDD4Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Resets
========================================================================== */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*,
*:before,
*:after {
  font-size: 1rem;
}

a {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

a:focus, a:hover {
  text-decoration: none;
}

input,
button {
  outline: none;
}

section {
  position: relative;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* Global classes
========================================================================== */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.al-container {
  width: 1230px;
}

.al-small-container {
  width: 1042px;
}

.al-extra-small-container {
  position: relative;
  width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
  max-width: 100%;
  margin: 0 auto;
}

div.left-right-content {
  display: table;
  width: 100%;
}

div.left-right-content div.left,
div.left-right-content div.right {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (max-width: 480px) {
  div.left-right-content div.left,
  div.left-right-content div.right {
    display: table-row;
  }
}

.left,
.right {
  display: inline-block;
  width: 49.5%;
  position: relative;
  vertical-align: top;
}

@media screen and (max-width: 480px) {
  .left,
  .right {
    width: 100%;
    padding: 20px;
  }
}

/* Html / Body
========================================================================== */
html {
  height: 100%;
  overflow: auto;
}

body {
  background: #fff;
  height: 100%;
  line-height: 1.6;
  font: normal normal 16px Arial, sans-serif;
}

/* Custom scrollbar
========================================================================== */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background: #000;
}

body::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* Mobmenu Classes
========================================================================== */
.mob-menu-header-holder,
.mobmenu {
  z-index: 99 !important;
}

.mob-icon-menu,
.mob-menu-icon {
  color: #fff !important;
}

[class^='mob-icon-']:before,
[class*='mob-icon-']:before {
  font-size: 28px !important;
  width: unset !important;
}

/* Contact Form 7
========================================================================== */
.form-container .ajax-loader {
  display: none !important;
}

.form-container span[role='alert'] {
  display: none !important;
}

.form-container .wpcf7-not-valid {
  border: 1px solid #dc3545 !important;
}

.form-container .wpcf7-not-valid.placeholder {
  color: #dc3545 !important;
}

.form-container .wpcf7-not-valid:-moz-placeholder {
  color: #dc3545 !important;
}

.form-container .wpcf7-not-valid::-moz-placeholder {
  color: #dc3545 !important;
}

.form-container .wpcf7-not-valid:-ms-input-placeholder {
  color: #dc3545 !important;
}

.form-container .wpcf7-not-valid::-webkit-input-placeholder {
  color: #dc3545 !important;
}

.form-container div[role='alert'] {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  text-align: center;
  background: #f1f1f1;
  width: 100%;
  max-width: 502px;
  margin: 20px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container div[role='alert'].wpcf7-validation-errors {
  border-color: #dc3545;
  color: #dc3545;
}

.form-container div[role='alert'].wpcf7-mail-sent-ok {
  border-color: #28a745;
  color: #28a745;
}

@media screen and (max-width: 480px) {
  .form-container div[role='alert'] {
    position: initial;
    max-width: 100%;
  }
}

.half-container {
  display: block;
  max-width: 100%;
  width: calc(1230px / 1.54);
  margin-left: auto;
  padding-right: 30px;
  position: relative;
}

/* Pages
========================================================================== */
/* Header
========================================================================== */
.main-header {
  border-top: 25px solid #000;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 9px 10.5px rgba(0, 0, 0, 0.11));
          filter: drop-shadow(0px 9px 10.5px rgba(0, 0, 0, 0.11));
}

.main-header .al-container {
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .al-container .logo {
  width: 124px;
}

.main-header .al-container .main-menu > ul {
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.main-header .al-container .main-menu > ul li {
  border-bottom: 4px solid transparent;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  -webkit-transition: all .3;
  transition: all .3;
}

.main-header .al-container .main-menu > ul li a {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 600;
  font-family: "Poppins";
}

.main-header .al-container .main-menu > ul li.current_page_item, .main-header .al-container .main-menu > ul li.current-menu-item, .main-header .al-container .main-menu > ul li.current-menu, .main-header .al-container .main-menu > ul li:hover {
  border-bottom: 4px solid #000;
}

.main-header .al-container .main-menu > ul li.current_page_item a, .main-header .al-container .main-menu > ul li.current-menu-item a, .main-header .al-container .main-menu > ul li.current-menu a, .main-header .al-container .main-menu > ul li:hover a {
  color: #0b80df;
  font-weight: 600;
}

.main-header .al-container .main-menu > ul li:hover:not(.current_page_item):not(.current-menu-item):not(.current-menu) {
  border-bottom: 4px solid transparent;
}

/* Footer
========================================================================== */
.main-footer {
  border-top: 4px solid #0b80df;
  background-color: #282828;
}

.main-footer .dev {
  height: 24px;
  background-color: #525252;
}

.main-footer .dev div a {
  font-size: 14px;
  letter-spacing: 1px;
  color: #acacac;
  font-weight: 300;
  font-family: "Poppins";
  float: right;
  margin-right: 10%;
}

.main-footer .al-container {
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.main-footer .al-container .row-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer .al-container .row-footer .column-footer {
  padding: 30px 0px;
}

.main-footer .al-container .row-footer .column-footer p.footer-title {
  font-size: 20px;
  margin-top: 0px;
  text-transform: uppercase;
}

.main-footer .al-container .row-footer .column-footer p, .main-footer .al-container .row-footer .column-footer a {
  margin-top: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #acacac;
  font-weight: 300;
  font-family: "Poppins";
}

.main-footer .al-container .row-footer .column-footer p i, .main-footer .al-container .row-footer .column-footer a i {
  font-size: 20px;
}

.main-footer .al-container .row-footer .column-footer a, .main-footer .al-container .row-footer .column-footer .redirect {
  cursor: pointer;
}

.main-footer .al-container .row-footer .column-footer a:hover, .main-footer .al-container .row-footer .column-footer .redirect:hover {
  color: #fff;
}

.main-footer .al-container .row-footer .direito {
  text-transform: uppercase;
}

.main-footer .al-container .row-footer .contato, .main-footer .al-container .row-footer .localizacao {
  white-space: nowrap;
}

.main-footer .al-container .row-footer .contato #localizacao, .main-footer .al-container .row-footer .localizacao #localizacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer .al-container .row-footer .localizacao div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer .al-container .row-footer .localizacao div a.conteudo {
  margin-left: 4px;
  margin-top: 3px;
}

.main-footer .al-container .row-footer .localizacao a i {
  font-size: 40px;
}

.main-footer .al-container .row-footer .redes-sociais p:not(.footer-title) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.main-footer .al-container .row-footer .redes-sociais .content-redes-sociais {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #acacac;
}

.main-footer .al-container .row-footer .redes-sociais .content-redes-sociais #facebook, .main-footer .al-container .row-footer .redes-sociais .content-redes-sociais #instagram {
  margin: auto;
  font-size: 40px;
  color: #282828;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-footer .al-container .row-footer .redes-sociais .content-redes-sociais:hover {
  background: #282828;
  color: #282828;
}

.main-footer .al-container .row-footer .redes-sociais .content-redes-sociais:hover #instagram, .main-footer .al-container .row-footer .redes-sociais .content-redes-sociais:hover #facebook {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #acacac;
}

.main-footer .al-container .row-footer .logo a, .main-footer .al-container .row-footer .logo p {
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 18px;
  color: #acacac;
  font-weight: 400;
  font-family: "Poppins";
}

.main-footer .al-container .row-footer .logo a p, .main-footer .al-container .row-footer .logo p p {
  text-transform: uppercase;
}

.fas, .far {
  padding-right: 10px;
}

@media screen and (max-width: 1230px) {
  .main-footer .al-container .row-footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
}

/* Home
========================================================================== */
.al-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.al-container .row .card-left, .al-container .row .card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 520px;
  width: 100%;
  margin-top: 120px;
  border-radius: 5px;
  padding: 0 10px;
  -webkit-filter: drop-shadow(0px 11px 23px rgba(0, 0, 0, 0.18));
          filter: drop-shadow(0px 11px 23px rgba(0, 0, 0, 0.18));
  background-color: #ffffff;
}

.al-container .row .card-left img, .al-container .row .card-right img {
  margin-top: -80px;
  max-width: 75%;
  max-height: 50%;
}

.al-container .row .card-left .content, .al-container .row .card-right .content {
  margin-left: 20px;
  padding: 20px 0px;
}

.al-container .row .card-left .content .text, .al-container .row .card-right .content .text {
  max-width: 485px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Poppins";
}

.al-container .cards {
  padding: 0 20px;
  margin-top: 200px;
  margin-bottom: 150px;
}

.azul {
  color: #0b80df;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 115px 0px;
}

.content .left-side {
  margin-left: auto;
  max-width: 40%;
}

.content .left-side img {
  padding: 30px 0px;
}

.content .right-side {
  max-width: 60%;
}

.content .right-side img {
  padding: 30px 0px;
}

.sub-title, .title, .btn {
  text-transform: uppercase;
  font-family: "Poppins";
}

.sub-title {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
}

.title {
  font-size: 49px;
  letter-spacing: 2px;
  color: #434342;
  font-weight: 700;
}

.text {
  font-size: 18px;
  letter-spacing: 1px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Poppins";
}

.btn {
  cursor: pointer;
  width: 245px;
  height: 38px;
  background-color: #434342;
  border: none;
  margin-top: 40px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins";
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-left: 47%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn:hover {
  -webkit-filter: drop-shadow(0px 0px 4px #CCC);
          filter: drop-shadow(0px 0px 4px #CCC);
  background-color: #0b80df;
}

.suites {
  -webkit-filter: drop-shadow(0px 11px 23px rgba(56, 37, 37, 0.18));
          filter: drop-shadow(0px 11px 23px rgba(56, 37, 37, 0.18));
  background-color: #f9f9f9;
  max-width: 100%;
}

.suites .rowt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.suites .rowt .img {
  max-height: 492px;
  width: 50%;
  margin-left: auto;
}

.suites .rowt .img .imagem-suite {
  max-height: 492px;
  width: 100%;
  right: 0px;
  left: auto;
}

.suites .rowt .img .fa-images, .suites .rowt .img .far {
  font-size: 420px;
}

.suites .rowt .nome-num {
  max-height: 492px;
  width: 50%;
}

.suites .rowt .nome-num .title-background {
  opacity: 0.2;
  margin-left: 0px;
}

.suites .rowt .nome-num .nome {
  width: 100%;
  text-transform: uppercase;
  font-size: 49px;
  letter-spacing: 2px;
  color: #918c89;
  font-weight: 700;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.suites .rowt .valores-horas {
  position: absolute;
  left: 50%;
  top: 56%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.suites .rowt .valores-horas .legend {
  font-size: 30px;
  color: #434342;
  font-weight: 700;
  font-family: "Poppins";
  margin-left: 28px;
}

.suites .rowt .valores-horas .sublegend {
  float: right;
  font-size: 25px;
  color: #918c89;
  font-weight: 400;
  font-family: "Poppins";
}

.suites .rowt .valores-horas .val {
  position: relative;
}

.suites .rowt .valores-horas .val .real {
  font-size: 25px;
  color: #918c89;
  font-weight: 400;
  font-family: "Poppins";
  position: absolute;
  right: 100%;
  margin-top: 9px;
}

.suites .rowt .valores-horas .val .title2 {
  white-space: nowrap;
  margin-left: 30px;
  position: relative;
  color: #0b80df;
}

.suites .rowt .buttons a {
  cursor: pointer;
  position: absolute;
  top: 44%;
  font-size: 60px;
  color: #ababab;
}

.suites .rowt .buttons a:hover {
  color: #EEE;
}

.suites .rowt .buttons .back {
  z-index: 2;
  left: 10%;
}

.suites .rowt .buttons .next {
  right: 5%;
  z-index: 3;
}

.suites .rowt .reservas {
  padding: 0;
}

.suites .rowt .reservas .btn-reserva {
  margin-top: -80px;
  text-transform: uppercase;
  border: 2px solid #918c89;
  background-color: #0000;
  width: 272px;
  height: 38px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #676767;
  font-weight: 500;
  font-family: "Poppins";
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.suites .rowt .reservas .btn-reserva:hover {
  color: #fff;
  border: 2px solid #676767;
  background-color: #676767;
}

.cafe {
  margin-bottom: 120px;
}

.cafe .right {
  float: right;
  padding-left: 20px;
}

.cafe .right .text {
  max-width: 420px;
}

.cafe .left .cafe-img {
  min-height: 320px;
}

.cafe .btn-reserva {
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
  border: 2px solid #918c89;
  background-color: #0000;
  width: 272px;
  height: 38px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #676767;
  font-weight: 500;
  font-family: "Poppins";
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

.cafe .btn-reserva:hover {
  color: #fff;
  border: 2px solid #676767;
  background-color: #676767;
}

.slider-home {
  width: 100%;
}

.slider-home-mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .slider-home {
    display: none;
  }
  .slider-home-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1230px) {
  .al-container .cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .al-container .cards .title {
    font-size: 39px;
  }
  .content .left-side, .second-c .left-side {
    max-width: 100%;
    margin-left: 0;
  }
  .content .left-side .half-container, .second-c .left-side .half-container {
    padding-right: 0;
    width: 100%;
    max-width: 100%;
  }
  .content .left-side .half-container .btn, .second-c .left-side .half-container .btn {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .content .right-side, .second-c .right-side {
    max-width: 100%;
    width: 100%;
  }
  .content .right-side img, .second-c .right-side img {
    width: 100%;
    height: auto;
  }
  .content {
    padding: 115px 10px;
  }
  .suites .rowt .valores-horas {
    top: 45%;
  }
  .suites .rowt .img {
    text-align: center;
    width: 100%;
  }
  .suites .rowt .img .imagem-suite {
    height: 100%;
  }
  .suites .rowt .img .fa-images {
    top: 0%;
    left: 50%;
    font-size: 16em;
  }
  .suites .rowt .nome-num {
    width: 100%;
  }
  .suites .rowt .nome-num .nome {
    padding: 0 10px;
  }
  .suites .rowt .nome-num .title-background {
    font-size: 16em;
  }
}

/* Single
========================================================================== */
.single-slide {
  max-width: 100%;
  overflow: hidden;
}

.single-slide ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 86vh;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.single-slide .lSAction .lSPrev, .single-slide .lSAction .lSNext {
  top: 40vh;
}

.single-slide .lSAction .lSPrev .fa-chevron-left, .single-slide .lSAction .lSPrev .fa-chevron-right, .single-slide .lSAction .lSNext .fa-chevron-left, .single-slide .lSAction .lSNext .fa-chevron-right {
  font-size: 90px;
  color: #fff;
}

.single-slide .lSAction .lSPrev {
  margin-left: 4%;
}

.single-slide .lSAction .lSNext {
  margin-right: 8%;
}

.title3 {
  font-size: 49px;
  letter-spacing: 2px;
  color: #0b80df;
  font-weight: 700;
  font-family: "Poppins";
}

.title2 {
  font-size: 49px;
  letter-spacing: 2px;
  color: #434342;
  font-weight: 700;
  font-family: "Poppins";
}

.title-background {
  font-size: 341px;
  letter-spacing: 17px;
  color: #acacac;
  font-weight: 300;
  font-family: "Poppins";
  margin-left: 20%;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #0b80df;
  font-weight: 600;
  font-family: "Poppins";
}

.nome-num {
  position: relative;
  text-align: center;
}

.nome-num .nome {
  text-transform: uppercase;
  font-size: 49px;
  letter-spacing: 2px;
  color: #0b80df;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.suite {
  margin-top: -45px;
}

.suite .nome {
  text-transform: uppercase;
  font-size: 49px;
  letter-spacing: 2px;
  color: #434342;
  font-weight: 700;
}

.suite .nome, .suite .azul {
  color: #0b80df !important;
}

.suite .rowt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.suite .title-background {
  opacity: 0.2;
  margin-left: 0px;
}

.info-val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-val p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 35px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Poppins";
}

.info-val .info-val02 {
  margin-left: 70px;
}

.info {
  padding: 0 10px;
}

.valores {
  margin-top: -10px;
}

.valores .valores-suites {
  min-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.valores .valores-suites .valores-horas + .valores-horas {
  border-left: 1px solid #91919160;
}

.valores .valores-suites .valores-horas {
  padding-left: 70px;
  position: relative;
}

.valores .valores-suites .valores-horas .legend {
  font-size: 30px;
  color: #434342;
  font-weight: 700;
  font-family: "Poppins";
  margin-left: 28px;
}

.valores .valores-suites .valores-horas .sublegend {
  float: right;
  font-size: 25px;
  color: #918c89;
  font-weight: 400;
  font-family: "Poppins";
}

.valores .valores-suites .valores-horas .val {
  position: relative;
}

.valores .valores-suites .valores-horas .val .real {
  font-size: 25px;
  color: #918c89;
  font-weight: 400;
  font-family: "Poppins";
  position: absolute;
  margin-top: 8px;
}

.valores .valores-suites .valores-horas .val .title2, .valores .valores-suites .valores-horas .val .title3 {
  margin-left: 30px;
}

.reservas {
  padding: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reservas .btn-reserva {
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #918c89;
  background-color: #0000;
  width: 272px;
  height: 38px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #676767;
  font-weight: 500;
  font-family: "Poppins";
  -webkit-transition: all .3s;
  transition: all .3s;
}

.reservas .btn-reserva:hover {
  color: #FFF;
  border: 2px solid #0000;
  background-color: #676767;
}

@media screen and (max-width: 1230px) {
  .suites-main .suites-archive .suite-i .first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .suites-main .suites-archive .suite-i .second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .single-slide .lSAction .lSPrev, .single-slide .lSAction .lSNext {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .single-slide .lSAction .lSPrev .fa-chevron-left, .single-slide .lSAction .lSPrev .fa-chevron-right, .single-slide .lSAction .lSNext .fa-chevron-left, .single-slide .lSAction .lSNext .fa-chevron-right {
    font-size: calc(4em + 1vw);
  }
  .suite .title-background {
    font-size: calc(16em + 1vw);
  }
  .info-val .info-val02 {
    margin-left: 0;
  }
  .valores .title2 {
    padding: 0 10px;
  }
  .valores .valores-suites .valores-horas + .valores-horas {
    border-left: none;
  }
  .valores .valores-suites .valores-horas {
    padding-left: 100px;
  }
}

/* Sobre
========================================================================== */
.sobre-main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 115px;
  padding-bottom: 0px;
}

.sobre-main .content .half-container {
  display: block;
  max-width: 100%;
  width: calc(1230px / 1.54);
  margin-left: auto;
  padding-right: 30px;
}

.sobre-main .content .left-side.text .half-container {
  margin-right: auto;
  margin-left: 0px;
  padding-right: 30px;
}

.sobre-main .content .left-side.text .half-container .text {
  text-align: right;
}

.sobre-main .content .right-side {
  width: unset;
  margin-right: unset;
}

.sobre-main .content .right-side img {
  height: 465px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.sobre-main .content .right-side.img {
  margin-right: auto;
  width: 40%;
}

.sobre-main .content .right-side.img img {
  padding-right: 30px;
}

.sobre-main .second-c {
  padding: 0 10px;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sobre-main .second-c .left-side {
  margin-right: auto;
}

.sobre-main .second-c .left-side.text .half-container {
  margin-right: auto;
  margin-left: 0px;
  padding-right: 30px;
}

.sobre-main .second-c .left-side.text .half-container .text {
  text-align: right;
}

.sobre-main .second-c .right-side {
  width: 40%;
  margin-right: auto;
}

.sobre-main .second-c .right-side img {
  height: 465px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.sobre-main .second-c .right-side.img {
  margin-right: auto;
  width: 40%;
}

.sobre-main .second-c .right-side.img img {
  padding-right: 30px;
}

.image-duvidas {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 120px 0;
}

.image-duvidas img {
  width: 60%;
  margin-left: 20%;
}

.image-duvidas .banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 1072px;
  max-width: 100%;
}

.image-duvidas .banner .left-side {
  max-width: 65%;
  padding: 0 40px;
}

.image-duvidas .banner .right-side {
  max-width: 35%;
  padding: 0 40px;
  margin-right: auto;
}

.image-duvidas .text-whiteplan .banner-text {
  padding: 10px 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}

.image-duvidas .text-whiteplan .banner-title {
  text-transform: uppercase;
  font-size: 44px;
  letter-spacing: 2px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
}

.image-duvidas .btn-whiteplan {
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
  width: 220%;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  color: #2976b2;
  font-weight: 500;
  font-family: "Poppins";
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-bottom: 10px;
}

.image-duvidas .btn-whiteplan:hover {
  color: #0b80df;
  background-color: #EEE;
}

@media screen and (max-width: 1230px) {
  .image-duvidas img {
    width: 100%;
    margin-left: 0%;
  }
  .image-duvidas .banner .left-side {
    max-width: 90%;
    width: 90%;
    padding: 2px 20px;
  }
  .image-duvidas .banner .right-side {
    max-width: 90%;
    width: 90%;
    padding: 2px 20px;
  }
  .image-duvidas .banner .text-whiteplan .banner-text {
    font-size: 18px;
  }
  .image-duvidas .banner .text-whiteplan .banner-title {
    font-size: 28px;
    line-height: 1em;
  }
  .image-duvidas .banner .btn-whiteplan {
    font-size: 12px;
    width: 30%;
  }
  .sobre-main .content .left-side, .sobre-main .second-c .left-side {
    width: 100%;
  }
  .sobre-main .content .left-side.text .half-container, .sobre-main .second-c .left-side.text .half-container {
    margin-left: auto !important;
    padding-right: 0px !important;
  }
  .sobre-main .content .right-side, .sobre-main .second-c .right-side {
    width: 100%;
  }
  .sobre-main .content .right-side img, .sobre-main .second-c .right-side img {
    width: 100%;
    height: auto;
  }
  .sobre-main .content .right-side.img, .sobre-main .second-c .right-side.img {
    width: 100%;
    height: auto;
  }
  .sobre-main .content .right-side.img img, .sobre-main .second-c .right-side.img img {
    padding: 0;
  }
}

/* Dúvidas
========================================================================== */
.duvidas-main {
  margin-top: 80px;
  margin-bottom: 80px;
}

.duvidas-main .titulo-main .sup {
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  color: #0b80df;
  font-weight: 500;
  font-family: "Poppins";
}

.duvidas-main .titulo-main .sub {
  line-height: 1;
  text-transform: uppercase;
  font-size: 49px;
  letter-spacing: 2px;
  color: #434342;
  font-weight: 700;
  font-family: "Poppins";
}

.duvidas-main .titulo-main .legend {
  margin-top: 10px;
  max-width: 914px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Poppins";
}

.duvidas-main .duvidas-lista {
  padding: 0 10px;
}

.duvidas-main .duvida {
  margin-top: 40px;
  margin-left: 30px;
  list-style-type: disc;
  font-size: 30px;
  color: #0b80df;
}

.duvidas-main .duvida .subtitle {
  text-transform: none;
  font-size: 22px;
  letter-spacing: 1px;
  color: #434342;
  font-weight: 700;
  font-family: "Poppins";
}

.duvidas-main .subtext {
  text-transform: none;
  line-height: 1.2;
  font-size: 16px;
  letter-spacing: 1px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Poppins";
}

.duvidas-main .subtext p {
  margin-top: 10px;
}

/* Serviço
========================================================================== */
.img-servico {
  width: all;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-servico .banner-text {
  position: absolute;
  margin-left: -40%;
  color: #fff;
  font-family: 'Great Vibes', cursive;
  font-size: 76px;
  letter-spacing: 4px;
  font-weight: 400;
}

.img-servico .btn-reserva {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  float: right;
  margin-left: 40%;
  width: 25%;
  height: 12%;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  color: #3f3f3f;
  font-weight: 500;
  font-family: "Poppins";
  -webkit-transition: all .3s;
  transition: all .3s;
}

.img-servico .btn-reserva:hover {
  background-color: #444;
  color: #fff;
  -webkit-box-shadow: 0px 0px 4px #CCC;
          box-shadow: 0px 0px 4px #CCC;
}

.servicos-main .titulo-main .sup, .reservas-main .titulo-main .sup {
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  color: #0b80df;
  font-weight: 500;
  font-family: "Poppins";
}

.servicos-main .titulo-main .sub, .reservas-main .titulo-main .sub {
  line-height: 1;
  text-transform: uppercase;
  font-size: 49px;
  letter-spacing: 2px;
  color: #434342;
  font-weight: 700;
  font-family: "Poppins";
}

.servicos-main .servicos-page, .reservas-main .servicos-page {
  margin-top: 80px;
  width: 1230;
}

.servicos-main .servicos-page .right, .reservas-main .servicos-page .right {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
}

.servicos-main .servicos-page .right .background-text, .reservas-main .servicos-page .right .background-text {
  position: absolute;
  opacity: 0.2;
  font-size: 137px;
  letter-spacing: 7px;
  color: #acacac;
  font-weight: 300;
  font-family: "Poppins";
  text-align: right;
}

.servicos-main .servicos-page .right .subtitle, .reservas-main .servicos-page .right .subtitle {
  text-transform: none;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: right;
  color: #0b80df;
  font-weight: 700;
  font-family: "Poppins";
}

.servicos-main .servicos-page .right .legend, .reservas-main .servicos-page .right .legend {
  text-align: right;
  margin-right: 40px;
  margin-left: 40px;
  max-width: 680px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Poppins";
}

.servicos-main .servicos-page .right .legend a, .reservas-main .servicos-page .right .legend a {
  color: #0b80df;
  text-decoration: underline;
}

.servicos-main .servicos-page .right .legend .aniver-info li, .reservas-main .servicos-page .right .legend .aniver-info li {
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #6e6e6e;
  font-weight: 300;
  font-family: "Poppins";
}

.servicos-main .servicos-page .left, .reservas-main .servicos-page .left {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
}

.servicos-main .servicos-page .left .background-text, .reservas-main .servicos-page .left .background-text {
  position: absolute;
  opacity: 0.2;
  font-size: 137px;
  letter-spacing: 7px;
  color: #acacac;
  font-weight: 300;
  font-family: "Poppins";
  text-align: right;
}

.servicos-main .servicos-page .left .subtitle, .reservas-main .servicos-page .left .subtitle {
  text-transform: none;
  font-size: 40px;
  letter-spacing: 2px;
  color: #0b80df;
  font-weight: 700;
  font-family: "Poppins";
}

.servicos-main .servicos-page .left .legend, .reservas-main .servicos-page .left .legend {
  margin-left: 40px;
  max-width: 700px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Poppins";
}

.servicos-main .servicos-page .left .legend a, .reservas-main .servicos-page .left .legend a {
  color: #0b80df;
  text-decoration: underline;
}

.servicos-main .servicos-page .left .legend .aniver-info li, .reservas-main .servicos-page .left .legend .aniver-info li {
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #6e6e6e;
  font-weight: 300;
  font-family: "Poppins";
}

@media screen and (max-width: 1230px) {
  .img-servico .btn-reserva {
    width: 25%;
    height: 20%;
    font-size: calc(0.1em + 1vw);
  }
  .img-servico .banner-text {
    font-size: calc(0.8em + 1vw);
  }
  .servicos-main .titulo-main, .reservas-main .titulo-main {
    padding: 0 20px;
  }
  .servicos-main .servicos-page, .reservas-main .servicos-page {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .servicos-main .servicos-page .right .background-text, .reservas-main .servicos-page .right .background-text {
    position: relative;
    font-size: 112px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .servicos-main .servicos-page .right .subtitle, .reservas-main .servicos-page .right .subtitle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .servicos-main .servicos-page .right .legend, .reservas-main .servicos-page .right .legend {
    margin-right: 0px;
    max-width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .servicos-main .servicos-page .left .legend, .reservas-main .servicos-page .left .legend {
    margin-left: 0px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .servicos-main .servicos-page .left .subtitle, .reservas-main .servicos-page .left .subtitle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .servicos-main .servicos-page .left .background-text, .reservas-main .servicos-page .left .background-text {
    position: relative;
    font-size: 112px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/* Reservas
========================================================================== */
.wpcf7-not-valid-tip {
  margin-left: 20px;
  position: absolute;
  white-space: nowrap;
}

.reservas-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reservas-main .contato {
  width: 50%;
  padding: 80px 0;
}

.reservas-main .contato input, .reservas-main .contato textarea {
  outline: none;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: 10px 20px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
  font-weight: 300;
  font-style: italic;
  font-family: "Poppins";
}

.reservas-main .contato .wpcf7-textarea {
  height: 176px;
  max-width: 100%;
}

.reservas-main .contato .cont-envio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 20px;
  position: relative;
}

.reservas-main .contato .cont-envio .load {
  width: 50%;
  margin-left: auto;
}

.reservas-main .contato .cont-envio .load #loading {
  margin-left: 100px;
  font-size: 30px;
}

.reservas-main .contato .cont-envio .envio {
  width: 50%;
}

.reservas-main .contato .cont-envio .envio .btn-enviar {
  text-transform: uppercase;
  width: 207px;
  height: 38px;
  border-radius: 2px;
  background-color: #434342;
  font-size: 20px;
  border: none;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins";
  cursor: pointer;
}

.reservas-main .titulo-main {
  width: 50%;
  max-width: 490px;
  padding: 80px 0;
  margin: 0;
}

.reservas-main .titulo-main .rowW .image-whats {
  max-width: 100%;
  position: relative;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 430px;
}

.reservas-main .titulo-main .rowW .image-whats .left-side {
  max-width: 65%;
  padding: 0 10px;
}

.reservas-main .titulo-main .rowW .image-whats .left-side .text-whats {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
}

.reservas-main .titulo-main .rowW .image-whats .left-side .text-whats .texto-estilizado {
  font-size: 28px;
  text-transform: uppercase;
}

.reservas-main .titulo-main .rowW .image-whats .right-side {
  max-width: 35%;
  padding: 0 40px;
  margin-right: auto;
}

.reservas-main .titulo-main .rowW .image-whats .right-side .btn-whats {
  text-transform: uppercase;
  width: 170%;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #3caf50;
  font-weight: 500;
  font-family: "Poppins";
  cursor: pointer;
}

.reservas-main .titulo-main .rowW .image-whats .right-side .btn-whats:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0px 0px 4px #CCC;
          box-shadow: 0px 0px 4px #CCC;
  color: #22e742;
}

.reservas-main .titulo-main .text {
  line-height: 1.2;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Poppins";
}

.reservas-main .titulo-main .text p {
  margin-top: 20px;
}

.reservas-main .titulo-main .text .text-icon {
  font-size: 24px;
  line-height: 23px;
  color: #3b3b3b;
  font-weight: 600;
  font-family: "Lato";
  -webkit-filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
          filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
}

.reservas-main .titulo-main .text .text-icon .icon-especial {
  font-size: 24px;
  color: #0b80df;
}

.reservas-main .titulo-main .text .text-icon a {
  font-size: 24px;
  line-height: 23px;
  color: #3b3b3b;
  font-weight: 600;
  font-family: "Lato";
  -webkit-filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
          filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
}

.reservas-main .titulo-main .text .text-icon:hover, .reservas-main .titulo-main .text .text-icon a:hover {
  color: #0b80df;
  -webkit-filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
          filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
  -webkit-transition: all .3s;
  transition: all .3s;
}

.reservas-main .titulo-main .text .especial {
  margin-top: 40px;
  max-width: 405px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #0b80df;
  font-weight: 400;
  font-family: "Poppins";
}

@media screen and (max-width: 1230px) {
  .reservas-main .titulo-main {
    width: 100%;
    max-width: 100%;
    padding: 100px 10%;
  }
  .reservas-main .titulo-main .text .text-icon a {
    font-size: 20px;
  }
  .reservas-main .titulo-main .rowW .image-whats .left-side, .reservas-main .titulo-main .rowW .image-whats .right-side {
    max-width: 100%;
    width: 100%;
    padding: 2px 20px;
  }
  .reservas-main .titulo-main .rowW .image-whats .left-side .btn-whats, .reservas-main .titulo-main .rowW .image-whats .right-side .btn-whats {
    width: 50%;
  }
  .reservas-main .contato {
    margin-left: 10%;
    width: 80%;
    padding: 0;
  }
}

/* Suites
========================================================================== */
.titulo-main {
  padding: 0 10px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.titulo-main .sup {
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  color: #0b80df;
  font-weight: 500;
  font-family: "Poppins";
}

.titulo-main .sub {
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 49px;
  letter-spacing: 2px;
  color: #434342;
  font-weight: 700;
  font-family: "Poppins";
}

.suites-main .suites-archive .suite-i {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.18);
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.suites-main .suites-archive .suite-i .right-s {
  position: relative;
  max-height: 420px;
  width: 50%;
}

.suites-main .suites-archive .suite-i .right-s .nome-num {
  display: block;
  max-width: 100%;
  width: calc(1230px / 2);
  margin-right: 100%;
  padding-left: 30px;
  position: relative;
}

.suites-main .suites-archive .suite-i .right-s .lSAction .lSNext {
  color: #ababab;
  font-size: 90px;
  margin-top: -55px;
  margin-right: 4%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.suites-main .suites-archive .suite-i .right-s .lSAction .lSNext:hover {
  color: #EEE;
}

.suites-main .suites-archive .suite-i .right-s .lSAction .lSPrev {
  display: none;
}

.suites-main .suites-archive .suite-i .left-s {
  position: relative;
  max-height: 420px;
  width: 50%;
}

.suites-main .suites-archive .suite-i .left-s .nome-num {
  display: block;
  max-width: 100%;
  width: calc(1230px / 2);
  margin-left: auto;
  position: relative;
}

.suites-main .suites-archive .suite-i .left-s .lSAction .lSPrev {
  color: #ababab;
  font-size: 90px;
  margin-top: -55px;
  margin-left: 2%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.suites-main .suites-archive .suite-i .left-s .lSAction .lSPrev:hover {
  color: #EEE;
}

.suites-main .suites-archive .suite-i .left-s .lSAction .lSNext {
  display: none;
}

.suites-main .suites-archive .suite-i .buttons a {
  font-size: 50px;
}

.suites-main .suites-archive .suite-i .nome-num {
  display: block;
  max-width: 100%;
  width: calc(1230px / 2);
  margin-left: auto;
  position: relative;
}

.suites-main .suites-archive .suite-i .nome-num .title-background {
  opacity: 0.2;
  line-height: 1em;
  z-index: 1;
  margin-left: 0px;
}

.suites-main .suites-archive .suite-i .nome-num .nome {
  text-transform: uppercase;
  width: 100%;
  font-size: 49px;
  letter-spacing: 2px;
  color: #918c89;
  font-weight: 800;
  font-family: "Poppins";
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.suites-main .suites-archive .suite-i .nome-num .valores-horas {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.suites-main .suites-archive .suite-i .nome-num .valores-horas .azul {
  color: #0b80df;
}

.suites-main .suites-archive .suite-i .nome-num .valores-horas .sublegend {
  margin-right: -80px;
  font-size: 25px;
  color: #918c89;
  font-weight: 400;
  font-family: "Poppins";
}

.suites-main .suites-archive .suite-i .nome-num .valores-horas .val .real {
  font-size: 25px;
  color: #918c89;
  font-weight: 400;
  font-family: "Poppins";
  position: absolute;
  margin-top: 8px;
  right: 100%;
}

.suites-main .suites-archive .suite-i .nome-num .valores-horas .val .title2 {
  color: #0b80df;
  font-family: "Poppins";
}

.suites-main .suites-archive .suite-i .nome-num .valores-horas .val .sublegend {
  line-height: 0.2em;
}

.suites-main .suites-archive .suite-i .nome-num .reservas {
  padding: 0px;
  margin-top: 0px;
  position: -webkit-sticky;
  position: sticky;
}

.suites-main .suites-archive .suite-i .nome-num .reservas .btn-reserva {
  cursor: pointer;
}

.suites-main .suites-archive .suite-i .imagem-suites {
  max-height: 420px;
  overflow: hidden;
  text-align: center;
}

.suites-main .suites-archive .suite-i .imagem-suites img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.suites-main .suites-archive .suite-i .imagem-suites .fa-images {
  font-size: 420px;
}

@media screen and (max-width: 1230px) {
  .suites-main {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .suites-main .suites-archive .suite-i .left-s {
    width: 100%;
    padding-bottom: 20px;
  }
  .suites-main .suites-archive .suite-i .left-s .imagem-suites {
    width: 100%;
  }
  .suites-main .suites-archive .suite-i .left-s .imagem-suites .fa-images {
    font-size: 14em;
  }
  .suites-main .suites-archive .suite-i .left-s .nome-num {
    width: 80%;
    margin-left: 10%;
  }
  .suites-main .suites-archive .suite-i .left-s .nome-num .valores-horas {
    top: 70%;
  }
  .suites-main .suites-archive .suite-i .left-s .nome-num .title-background {
    font-size: calc(15em + 1vw);
  }
  .suites-main .suites-archive .suite-i .left-s .nome-num .nome {
    font-size: calc(2em + 1vw);
  }
  .suites-main .suites-archive .suite-i .right-s {
    width: 100%;
    padding-bottom: 20px;
  }
  .suites-main .suites-archive .suite-i .right-s .imagem-suites {
    width: 100%;
  }
  .suites-main .suites-archive .suite-i .right-s .nome-num {
    width: 80%;
    margin-left: 10%;
  }
  .suites-main .suites-archive .suite-i .right-s .nome-num .title-background {
    font-size: calc(15em + 1vw);
  }
  .suites-main .suites-archive .suite-i .right-s .nome-num .nome {
    font-size: calc(2em + 1vw);
  }
  .suites-main .suites-archive .suite-i .right-s .lSAction .lSNext {
    margin-right: 8%;
  }
}
/*# sourceMappingURL=index.css.map */