/* Reservas
========================================================================== */
.wpcf7-not-valid-tip{
    margin-left: 20px;
    position: absolute;
    white-space: nowrap;
}
.reservas-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .contato{
        width: 50%;    
        padding: 150px 0;
        input, textarea{
            outline: none;
            border-radius: 5px;
            border: 1px solid #c4c4c4;     
            padding: 10px 20px;
            width: 100%;    
            font-size: 18px;
            line-height: 24px;
            color: #666666;
            font-weight: 400;
            font-style: italic;
            font-family: "Poppins";
        }
        .wpcf7-textarea{
            height: 132px;
            max-width: 100%;
        }
        .cont-envio{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            padding-top: 20px;
            position: relative;
            .load{
                width: 50%;
                margin-left: auto;
                #loading{
                    margin-left: 100px;
                    font-size: 30px;
                }
            }
            .envio{
                width: 50%;
                .btn-enviar{
                    text-transform: uppercase;
                    width: 207px;
                    height: 38px;
                    border-radius: 2px;
                    background-color: #434342;
                    font-size: 20px;
                    border: none;
                    letter-spacing: 1px;
                    color: #ffffff;
                    font-weight: 600;
                    font-family: "Poppins";
                    cursor: pointer;
                }
            }
        }
    }
    .titulo-main{
        width: 50%;
        max-width: 490px;
        padding: 80px 0;
        margin: 0;
        .rowW{
            .image-whats{
                max-width: 100%;
                position: relative;
                padding: 40px 0;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 6px;
                display: inline-flex;
                margin: 0 auto;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                width: 430px;
                .left-side{
                    max-width: 65%;
                    padding: 0 20px;
                    .text-whats{
                        text-transform: uppercase;
                        font-size: 14px;
                        letter-spacing: 2px;
                        color: #ffffff;
                        font-weight: 800;
                        font-family: "Poppins";
                        .texto-estilizado{
                            font-size: 28px;
                            text-transform: uppercase;
                        }
                    }
                }
                .right-side{
                    max-width: 35%;
                    padding: 0 40px;
                    margin-right: auto;
                    margin-left: auto;
                    .btn-whats{
                        text-transform: uppercase;
                        width: 170%;
                        border-radius: 2px;
                        background-color: #ffffff;
                        border: none;
                        font-size: 14px;
                        letter-spacing: 1px;
                        color: #3caf50;
                        font-weight: 500;
                        font-family: "Poppins";
                        cursor: pointer;
                    }
                    .btn-whats:hover{
                        transition: all .3s;
                        box-shadow: 0px 0px 4px #CCC;
                        color: #22e742;
                    }
                }
            }
        }
        .text{
            line-height: 1.2;
            margin-top: 20px;
            font-size: 18px;
            letter-spacing: 1px;
            color: #6e6e6e;
            font-weight: 400;
            font-family: "Poppins";
            p{
                margin-top: 20px;
            }
            .text-icon{
                font-size: 24px;
                line-height: 23px;
                color: #3b3b3b;
                font-weight: 700;
                font-family: "Lato";
                filter: drop-shadow(2.837px 0.977px 6.5px rgba(255,255,255,0.74));
                .icon-especial{
                    max-height: 24px;
                    color: #0b80df;
                    &.mail{
                        max-height: 18px;
                    }
                }
                a{
                    font-size: 24px;
                    line-height: 23px;
                    color: #3b3b3b;
                    font-weight: 700;
                    font-family: "Lato";
                    filter: drop-shadow(2.837px 0.977px 6.5px rgba(255,255,255,0.74));
                }
            }
            .text-icon:hover, .text-icon a:hover{
                color: #0b80df;
                filter: drop-shadow(2.837px 0.977px 6.5px rgba(255,255,255,0.74));
                transition: all .3s;
            }
            .especial{
                margin-top: 40px;
                max-width: 405px;
                font-size: 18px;
                letter-spacing: 1px;
                color: #0b80df;
                font-weight: 500;
                font-family: "Poppins";
            }
        }
    }
}
@media screen and (max-width:1230px){
    .reservas-main{
        .titulo-main{    
            width: 100%;
            max-width: 100%;
            padding: 100px 10%;
            .text{
                .text-icon{
                    a{
                        font-size: 20px;
                    }
                }
            }
            .rowW{
                .image-whats{
                    .left-side, .right-side{
                        max-width: 100%;
                        width: 100%;
                        padding: 2px 20px;
                        .btn-whats{
                            width: 50%;
                        }
                    }
                }
            }
        }
        .contato{
            margin-left: 10%;
            width: 80%;
            padding: 0;
        }
    }
    .map{
        padding:0;
        padding-top: 20px;
    }
}