/* Reservas
========================================================================== */
.wpcf7-not-valid-tip {
  margin-left: 20px;
  position: absolute;
  white-space: nowrap;
}

.reservas-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reservas-main .contato {
  width: 50%;
  padding: 80px 0;
}

.reservas-main .contato input, .reservas-main .contato textarea {
  outline: none;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: 10px 20px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
  font-weight: 300;
  font-style: italic;
  font-family: "Poppins";
}

.reservas-main .contato .wpcf7-textarea {
  height: 176px;
  max-width: 100%;
}

.reservas-main .contato .cont-envio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 20px;
  position: relative;
}

.reservas-main .contato .cont-envio .load {
  width: 50%;
  margin-left: auto;
}

.reservas-main .contato .cont-envio .load #loading {
  margin-left: 100px;
  font-size: 30px;
}

.reservas-main .contato .cont-envio .envio {
  width: 50%;
}

.reservas-main .contato .cont-envio .envio .btn-enviar {
  text-transform: uppercase;
  width: 207px;
  height: 38px;
  border-radius: 2px;
  background-color: #434342;
  font-size: 20px;
  border: none;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins";
  cursor: pointer;
}

.reservas-main .titulo-main {
  width: 50%;
  max-width: 490px;
  padding: 80px 0;
  margin: 0;
}

.reservas-main .titulo-main .rowW .image-whats {
  max-width: 100%;
  position: relative;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 430px;
}

.reservas-main .titulo-main .rowW .image-whats .left-side {
  max-width: 65%;
  padding: 0 10px;
}

.reservas-main .titulo-main .rowW .image-whats .left-side .text-whats {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
}

.reservas-main .titulo-main .rowW .image-whats .left-side .text-whats .texto-estilizado {
  font-size: 28px;
  text-transform: uppercase;
}

.reservas-main .titulo-main .rowW .image-whats .right-side {
  max-width: 35%;
  padding: 0 40px;
  margin-right: auto;
}

.reservas-main .titulo-main .rowW .image-whats .right-side .btn-whats {
  text-transform: uppercase;
  width: 170%;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #3caf50;
  font-weight: 500;
  font-family: "Poppins";
  cursor: pointer;
}

.reservas-main .titulo-main .rowW .image-whats .right-side .btn-whats:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0px 0px 4px #CCC;
          box-shadow: 0px 0px 4px #CCC;
  color: #22e742;
}

.reservas-main .titulo-main .text {
  line-height: 1.2;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Poppins";
}

.reservas-main .titulo-main .text p {
  margin-top: 20px;
}

.reservas-main .titulo-main .text .text-icon {
  font-size: 24px;
  line-height: 23px;
  color: #3b3b3b;
  font-weight: 600;
  font-family: "Lato";
  -webkit-filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
          filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
}

.reservas-main .titulo-main .text .text-icon .icon-especial {
  font-size: 24px;
  color: #0b80df;
}

.reservas-main .titulo-main .text .text-icon a {
  font-size: 24px;
  line-height: 23px;
  color: #3b3b3b;
  font-weight: 600;
  font-family: "Lato";
  -webkit-filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
          filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
}

.reservas-main .titulo-main .text .text-icon:hover, .reservas-main .titulo-main .text .text-icon a:hover {
  color: #0b80df;
  -webkit-filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
          filter: drop-shadow(2.837px 0.977px 6.5px rgba(255, 255, 255, 0.74));
  -webkit-transition: all .3s;
  transition: all .3s;
}

.reservas-main .titulo-main .text .especial {
  margin-top: 40px;
  max-width: 405px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #0b80df;
  font-weight: 400;
  font-family: "Poppins";
}

@media screen and (max-width: 1230px) {
  .reservas-main .titulo-main {
    width: 100%;
    max-width: 100%;
    padding: 100px 10%;
  }
  .reservas-main .titulo-main .text .text-icon a {
    font-size: 20px;
  }
  .reservas-main .titulo-main .rowW .image-whats .left-side, .reservas-main .titulo-main .rowW .image-whats .right-side {
    max-width: 100%;
    width: 100%;
    padding: 2px 20px;
  }
  .reservas-main .titulo-main .rowW .image-whats .left-side .btn-whats, .reservas-main .titulo-main .rowW .image-whats .right-side .btn-whats {
    width: 50%;
  }
  .reservas-main .contato {
    margin-left: 10%;
    width: 80%;
    padding: 0;
  }
}
/*# sourceMappingURL=reservas.css.map */