/* Serviço
========================================================================== */

.imagem-meio{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 120px 0;
    .img-servico{
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 110px 0;
        align-items: center;    
        .right-side{
            max-width: 35%;
            padding: 0 40px;
            margin-left: 40px;
        }
        .left-side{
            max-width: 65%;
            padding: 0 40px;
            margin-right: 40px;
        }
        .banner-text{
            color: $white;
            font-family: 'Great Vibes', cursive;
            font-size: 76px;
            letter-spacing: 4px;
            font-weight: 400;    
            line-height: 0.6em;
            &.broke{
                margin-left: 80px;
            }
        }
        .btn-reserva{
            cursor: pointer;
            z-index: 1;
            padding: 6px 40px;
            background-color: $white;
            border: none;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 1px;
            color: #3f3f3f;
            font-weight: 700;
            font-family: "Poppins";
            transition: all .3s;
        }
        .btn-reserva:hover{
            background-color: #444;
            color: $white;
            box-shadow: 0px 0px 4px #CCC;
        }
    }
}
.servicos-main, .reservas-main{
    .titulo-main{
        .sup{
            line-height: 1.5;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 1px;
            color: #0b80df;
            font-weight: 500;
            font-family: "Poppins";
        }
        .sub{
            line-height: 1;
            text-transform: uppercase;
            font-size: 49px;
            letter-spacing: 2px;
            color: #434342;
            font-weight: 700;
            font-family: "Poppins";
        }
    }
    .servicos-page{
        margin-top: 80px;
        width: 1230;
        .right{      
            margin-top: 80px;
            margin-bottom: 80px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: right;  
            position: relative;
            .background-text{
                position: absolute;
                opacity: 0.2;
                font-size: 137px;
                letter-spacing: 7px;
                color: #acacac;
                font-weight: 300;
                font-family: "Poppins";
                text-align: right;
            }
            .subtitle{
                text-transform: none;
                font-size: 40px;
                letter-spacing: 2px;
                text-align: right;            
                color: #0b80df;
                font-weight: 700;
                font-family: "Poppins";
            }
            .legend{
                text-align: right;
                margin-right: 40px;
                max-width: 740px;
                font-size: 18px;
                letter-spacing: 1px;
                color: #6e6e6e;
                font-weight: 400;
                font-family: "Poppins";
                a{
                    color: #0b80df;
                    text-decoration: underline;
                }
                ul{
                    li{
                        margin-top: 10px;
                        font-size: 12px;
                        letter-spacing: 1px;
                        line-height: 10px;
                        color: #6e6e6e;
                        font-weight: 300;
                        font-family: "Poppins";
                    }
                }
            }

        }
        .left{      
            margin-top: 80px;
            margin-bottom: 80px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: left;  
            position: relative;
            .background-text{
                position: absolute;
                opacity: 0.2;
                font-size: 137px;
                letter-spacing: 7px;
                color: #acacac;
                font-weight: 300;
                font-family: "Poppins";
                text-align: right;
            }
            .subtitle{
                text-transform: none;
                font-size: 40px;
                letter-spacing: 2px;
                color: #0b80df;
                font-weight: 700;
                font-family: "Poppins";
            }
            .legend{
                margin-left: 40px;
                max-width: 700px;
                font-size: 18px;
                letter-spacing: 1px;
                color: #6e6e6e;
                font-weight: 400;
                font-family: "Poppins";
                a{
                    color: #0b80df;
                    text-decoration: underline;
                }
                ul{
                    li{
                        margin-top: 10px;
                        font-size: 12px;
                        letter-spacing: 1px;
                        line-height: 10px;
                        color: #6e6e6e;
                        font-weight: 300;
                        font-family: "Poppins";
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1230px){
    .imagem-meio{
        .img-servico{
            padding: 110px 5px;
            .banner-text{
                font-size: 66px;
                &.broke{
                    margin-left: 20px;
                }
            }
            .left-side, .right-side{
                max-width: 100%;
                margin-left: 0px;
                padding: 20px;
            }
        }
    }
    .servicos-main, .reservas-main{
        .titulo-main{
            padding: 0 20px;
        }
        .servicos-page{
            margin-bottom: 0px;
            margin-top: 20px;
            .right{      
                .background-text{
                    position: relative;
                    font-size: 112px;
                    order: 1;
                }
                .subtitle{
                    order: 2;
                }
                .legend{
                    margin-right: 0px;
                    max-width: 100%;
                    order: 3;
                }
            }
            .left{
                .legend{
                    margin-left: 0px;
                    order: 3;
                }
                .subtitle{
                    order: 2;
                }
                .background-text{
                    position: relative;                    
                    font-size: 112px;
                    order: 1;
                }
            }
        }
    }
}