/* Single
========================================================================== */
.single-slide{
    max-width: 100%;
    overflow: hidden;
    ul{
        li{
            div{
                width: 100%;
                height: 670px;
                background-position: center;
                background-size: cover;
                box-shadow: inset 40px 0px 100px $black, inset -40px 0px 100px $black;
            }
        }
    }
    .lSAction{
        .lSPrev, .lSNext{
            .fa-chevron-left, .fa-chevron-right{
                font-size: 90px;
                color: $white;
            }
        }
        .lSPrev{
            margin-left: 20%;
        }
        .lSNext{
            margin-right: 20%;
        }
    }
}
.title3{
    font-size: 49px;
    letter-spacing: 2px;
    color: #0b80df;
    font-weight: 700;
    font-family: "Poppins";
} 
.title2{
    font-size: 49px;
    letter-spacing: 2px;
    color: #434342;
    font-weight: 700;
    font-family: "Poppins";
} 
.title-background{
    font-size: 341px;
    letter-spacing: 17px;
    color: #acacac;
    font-weight: 300;
    font-family: "Poppins";
    margin-left: 20%;
}
.subtitle{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0b80df;
    font-weight: 600;
    font-family: "Poppins";
}
.nome-num{
    position: relative;
    text-align: center;
    .nome{
        text-transform: uppercase;
        font-size: 49px;
        letter-spacing: 2px;
        color: #0b80df;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}
.suite{
    .nome{
        text-transform: uppercase;
        font-size: 49px;
        letter-spacing: 2px;
        color: #434342;
        font-weight: 700;
    }
    .nome, .azul{
        color: #0b80df!important;
    }
    margin-top: -45px;
    .rowt{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .title-background{
        opacity: 0.2;
        margin-left: 0px;
    }
}
.info-val{
    p{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 35px;
        color: #6e6e6e;
        font-weight: 400;
        font-family: "Poppins"; 
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .info-val02{
        margin-left: 70px;
    }
}
.info{
    padding: 0 10px;
}
.valores{
    margin-top: -10px;
    .valores-suites{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
        .valores-horas + .valores-horas{
            border-left: 1px solid #91919160;
        }
        .valores-horas{
            padding: 0 40px;
            position: relative;
            .legend{
                font-size: 30px;
                color: #434342;
                font-weight: 700;
                font-family: "Poppins";
                margin-left: 28px;
            }
            .sublegend{
                float: right;
                font-size: 25px;
                color: #918c89;
                font-weight: 400;
                font-family: "Poppins";
            }
            .val{
                position: relative;
                .real{
                    font-size: 25px;
                    color: #918c89;
                    font-weight: 400;
                    font-family: "Poppins";
                    position: absolute;
                    margin-top: 8px;
                }
                .title2, .title3{
                    margin-left: 30px;
                }
            }
        }
    }
}
.reservas{
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    .btn-reserva{
        cursor: pointer;
        text-transform: uppercase;
        border: 2px solid #918c89;
        background-color: #0000;
        width: 272px;
        height: 38px;   
        font-size: 18px;
        letter-spacing: 1px;
        color: #676767;
        font-weight: 500;
        font-family: "Poppins";
        transition: all .3s;
    }
    .btn-reserva:hover{
        color: #FFF;
        border: 2px solid #0000;;
        background-color: #676767;
    }
}
.second{
    width: 51%!important;
}
.first{
    width: 49%!important;
}

@media screen and (max-width:1230px){
    .second{
        width: 100%!important;
    }
    .first{
        width: 100%!important;
    }
    .suites-main{
        .suites-archive{
            .suite-i{
                .first{
                    order: 1;
                }
                .second{
                    order: 2;
                }
            }
        }
        
    }
    .single-slide{
        .lSAction{
            .lSPrev, .lSNext{
                top: 50%;
                transform: translateY(-50%);
                .fa-chevron-left, .fa-chevron-right{
                    font-size: calc(4em + 1vw);
                }
            }
        }
    }
    .suite{
        .title-background{
            font-size: calc(16em + 1vw);
        }
    }
    .info-val{
        .info-val02{
            margin-left: 0;
        }
    }
    .valores{
        .title2{
            padding: 0 10px;
        }
        .valores-suites{
            justify-content: center;
            .valores-horas + .valores-horas{
                border-left: none;
            }
        }
    }
    .single-slide{
        ul{
            li{
                img{
                    height: 32vh;
                }
            }
        }
    }
}