/* Sobre
========================================================================== */
.sobre-main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 115px;
  padding-bottom: 0px;
}

.sobre-main .content .half-container {
  display: block;
  max-width: 100%;
  width: calc(1230px / 1.54);
  margin-left: auto;
  padding-right: 30px;
}

.sobre-main .content .left-side.text .half-container {
  margin-right: auto;
  margin-left: 0px;
  padding-right: 30px;
}

.sobre-main .content .left-side.text .half-container .text {
  text-align: right;
}

.sobre-main .content .right-side {
  width: unset;
  margin-right: unset;
}

.sobre-main .content .right-side img {
  height: 465px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.sobre-main .content .right-side.img {
  margin-right: auto;
  width: 40%;
}

.sobre-main .content .right-side.img img {
  padding-right: 30px;
}

.sobre-main .second-c {
  padding: 0 10px;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sobre-main .second-c .left-side {
  margin-right: auto;
}

.sobre-main .second-c .left-side.text .half-container {
  margin-right: auto;
  margin-left: 0px;
  padding-right: 30px;
}

.sobre-main .second-c .left-side.text .half-container .text {
  text-align: right;
}

.sobre-main .second-c .right-side {
  width: 40%;
  margin-right: auto;
}

.sobre-main .second-c .right-side img {
  height: 465px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.sobre-main .second-c .right-side.img {
  margin-right: auto;
  width: 40%;
}

.sobre-main .second-c .right-side.img img {
  padding-right: 30px;
}

.image-duvidas {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 120px 0;
}

.image-duvidas img {
  width: 60%;
  margin-left: 20%;
}

.image-duvidas .banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 1072px;
  max-width: 100%;
}

.image-duvidas .banner .left-side {
  max-width: 65%;
  padding: 0 40px;
}

.image-duvidas .banner .right-side {
  max-width: 35%;
  padding: 0 40px;
  margin-right: auto;
}

.image-duvidas .text-whiteplan .banner-text {
  padding: 10px 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}

.image-duvidas .text-whiteplan .banner-title {
  text-transform: uppercase;
  font-size: 44px;
  letter-spacing: 2px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
}

.image-duvidas .btn-whiteplan {
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
  width: 220%;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  color: #2976b2;
  font-weight: 500;
  font-family: "Poppins";
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-bottom: 10px;
}

.image-duvidas .btn-whiteplan:hover {
  color: #0b80df;
  background-color: #EEE;
}

@media screen and (max-width: 1230px) {
  .image-duvidas img {
    width: 100%;
    margin-left: 0%;
  }
  .image-duvidas .banner .left-side {
    max-width: 90%;
    width: 90%;
    padding: 2px 20px;
  }
  .image-duvidas .banner .right-side {
    max-width: 90%;
    width: 90%;
    padding: 2px 20px;
  }
  .image-duvidas .banner .text-whiteplan .banner-text {
    font-size: 18px;
  }
  .image-duvidas .banner .text-whiteplan .banner-title {
    font-size: 28px;
    line-height: 1em;
  }
  .image-duvidas .banner .btn-whiteplan {
    font-size: 12px;
    width: 30%;
  }
  .sobre-main .content .left-side, .sobre-main .second-c .left-side {
    width: 100%;
  }
  .sobre-main .content .left-side.text .half-container, .sobre-main .second-c .left-side.text .half-container {
    margin-left: auto !important;
    padding-right: 0px !important;
  }
  .sobre-main .content .right-side, .sobre-main .second-c .right-side {
    width: 100%;
  }
  .sobre-main .content .right-side img, .sobre-main .second-c .right-side img {
    width: 100%;
    height: auto;
  }
  .sobre-main .content .right-side.img, .sobre-main .second-c .right-side.img {
    width: 100%;
    height: auto;
  }
  .sobre-main .content .right-side.img img, .sobre-main .second-c .right-side.img img {
    padding: 0;
  }
}
/*# sourceMappingURL=sobre.css.map */