/* Sobre
========================================================================== */
.sobre-main{
    padding-top: 100px;
    .content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;    
        justify-content: start;
        padding-top: 115px;
        padding-bottom: 0px;
        max-width: 100%;
        margin-left: 18%;
        .half-container{
            display: block;
            max-width: 100%;
            width: calc(1230px / 1.54);
            margin-left: auto;
            padding-right: 30px;
        }
        .left-side{
            margin-left: 0;
            width: 100%;
            max-width: 50%;
            &.text{
                .half-container{
                    margin-right: auto;
                    margin-left: 0px;
                    padding-right: 30px;
                    .text{
                        text-align: right;
                    }
                }
            }
        }
        .right-side{
            width: 100%;
            max-width: 50%;
            margin-right: unset;
            img{
                height: 465px;
                object-fit: cover;
                object-position: left;
                width: 100%;
            }
            &.img{
                margin-right: auto;
                width: 40%;
                img{
                    padding-right: 30px;
                }
            }
        }
    }
    .second-c{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        max-width: 91%;
        margin-right: 9%;
        .left-side{
            margin-right: auto;
            &.text{
                max-width: 50%;
                .half-container{
                    margin-right: auto;
                    margin-left: 0px;
                    padding-right: 0 30px;
                    .text{
                        text-align: right;
                    }
                }
            }
        }
        .right-side{
            max-width: 50%;
            margin-right: auto;
            img{
                width: 100%;
            }
            &.img{
                margin-right: auto;
                width: 40%;
            }
        }
    }
}
.image-duvidas{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 120px 0;
    img{
        width: 60%;
        margin-left: 20%;
    }
    .banner{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 50px 0px;
        display: inline-flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: end;
        width: 1072px;
        max-width: 100%;
        border-radius: 6px;
        .left-side{
            max-width: 65%;
            padding: 0 40px;
        }
        .right-side{
            max-width: 35%;
            padding: 0 55px;
            margin-right: auto;
        }
    }
    .text-whiteplan{
        padding-left: 30px;
        .banner-text{
            padding: 10px 0;
            font-size: 18px;
            letter-spacing: 1px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Poppins";
        }
        .banner-title{
            text-transform: uppercase;
            font-size: 44px;
            letter-spacing: 2px;
            line-height: 35px;
            color: #ffffff;
            font-weight: 700;
            font-family: "Poppins";
        }
    }
    .btn-whiteplan{
        cursor: pointer;
        padding: 2px; 
        text-transform: uppercase;
        width: 200%;
        border-radius: 2px;
        background-color: #ffffff;
        border: none;
        font-size: 20px;
        letter-spacing: 1px;
        color: #2976b2;
        font-weight: 500;
        font-family: "Poppins";
        transition: all .3s;
        margin-bottom: 10px;
    }
    .btn-whiteplan:hover{
        color: #0b80df;
        background-color: #EEE;
    }
}
@media screen and (max-width:1230px){
    .image-duvidas{
        img{
            width: 100%;
            margin-left: 0%;
        }
        .banner{
            .left-side{
                max-width: 90%;
                width: 90%;
                padding: 2px 20px;
            }
            .right-side{
                max-width: 90%;
                width: 90%;
            }
            .text-whiteplan{
                .banner-text{
                    font-size: 18px;
                }
                .banner-title{
                    font-size: 28px;
                    line-height: 1em;
                }
            }
            .btn-whiteplan{
                font-size: 12px;
                width: 50%;
            }
        }
    }
    .sobre-main{
        .content, .second-c{
            width: 100%;
            max-width: 100%;
            margin: 0px;
            padding: 0;
            .left-side{
                width: 100%;
                max-width: 100%;
                .half-container{
                    width: 100%;
                    max-width: 100%;
                }
                &.text{
                    width: 100%;
                    max-width: 100%;
                    order: 1;
                    margin-bottom: 3%;
                    .half-container{
                        .text{
                            text-align: left;
                        }
                        margin-left: auto!important;
                        padding-right: 0px!important;
                    }   
                }
            }
            .right-side{
                width: 100%;
                max-width: 100%;
                img{
                    width: 100%;
                    height: auto;
                }
                &.img{
                    width: 100%;
                    height: auto;
                    order: 2;
                    img{
                        padding: 0;
                    }
                }
            }
        }
    }
}
