/* Suites
========================================================================== */
   
.titulo-main{
    padding: 0 10px;
    margin-top: 80px;
    margin-bottom: 40px;
    .sup{
        line-height: 1.5;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
        color: #0b80df;
        font-weight: 500;
        font-family: "Poppins";
    }
    .sub{
        line-height: 1.2;
        text-transform: uppercase;
        font-size: 49px;
        letter-spacing: 2px;
        color: #434342;
        font-weight: 700;
        font-family: "Poppins";
    }
}
.suites-main{
    .suites-archive{
        .suite-i{
            background-color: $white;
            box-shadow: 0px 0px 23px rgba(0,0,0,0.18);
            margin-bottom: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .right-s{
                position: relative;
                max-height: 420px;
                width: 50%;
                .nome-num{
                    display: block;
                    max-width: 100%;
                    width: calc(1230px / 2);
                    margin-left: 0px;
                    position: relative;
                }
                .lSAction{
                    .lSNext{
                        color: #ababab;
                        font-size: 90px;
                        margin-top: -55px;
                        margin-right: 4%;
                        transition: all .3s;
                    }
                    .lSNext:hover{
                        color: #EEE;
                    }
                    .lSPrev{
                        display: none;
                    }
                }
            }
            .left-s{
                position: relative;
                max-height: 420px;
                width: 50%;
                .nome-num{
                    display: block;
                    max-width: 100%;
                    width: calc(1230px / 2);
                    margin-left: auto;
                    position: relative;
                }
                .lSAction{
                    .lSPrev{
                        color: #ababab;
                        font-size: 90px;
                        margin-top: -55px;
                        margin-left: 2%;
                        transition: all .3s;
                    }
                    .lSPrev:hover{
                        color: #EEE;
                    }
                    .lSNext{
                        display: none;
                    }
                }
            }

            .buttons{
                a{
                    font-size: 50px;
                }
            }
            .nome-num{
                display: block;
                max-width: 100%;
                width: calc(1230px / 2);
                margin-left: auto;
                position: relative;
                .title-background{  
                    opacity: 0.2;
                    line-height: 1em;
                    z-index: 1;
                    margin-left: 0px;
                }
                .nome{
                    text-transform: uppercase;
                    width: 100%;
                    font-size: 49px;
                    letter-spacing: 2px;
                    color: #918c89; 
                    font-weight: 800;
                    font-family: "Poppins";
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .valores-horas{   
                    position: absolute;    
                    top: 73%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .azul{
                        color: #0b80df;
                    }
                    .sublegend{
                        margin-right: -80px;
                        font-size: 25px;
                        color: #918c89;
                        font-weight: 400;
                        font-family: "Poppins";
                    }
                    .val{
                        .real{
                            font-size: 25px;
                            color: #918c89;
                            font-weight: 400;
                            font-family: "Poppins";
                            position: absolute;
                            margin-top: 8px;
                            right: 100%;
                        }
                        .title2{
                            color: #0b80df;
                            font-family: "Poppins";
                        }
                        .sublegend{
                            line-height: 0.2em;
                        }
                    }
                }
                .reservas{
                    padding: 0px;
                    margin-top: 0px;
                    position:sticky;
                    .btn-reserva{
                        cursor: pointer;
                    }
                }
            }
            .imagem-suites{
                max-height: 420px;
                overflow: hidden;
                text-align: center;
                .slider-suites{
                    height: 424px!important;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                .fa-images{ 
                    font-size: 420px;
                }
            }
        }
    }
}


@media screen and (max-width:1230px){
    
    .suites-main{
        margin-bottom: 0px;
        margin-top: 20px;
        .suites-archive{
            .suite-i{
                .left-s{
                    width: 100%;
                    padding-bottom: 20px;
                    .imagem-suites{
                        width: 100%;
                        .fa-images{ 
                            font-size: 14em;
                        }
                    }
                    .nome-num{
                        width: 80%;
                        margin-left: 10%;
                        .valores-horas{   
                            top: 69%;
                        }
                        .title-background{
                            font-size: 230px;  
                            white-space: nowrap;                  
                        }
                        .nome{
                            font-size: calc(2em + 1vw);
                        }
                    }
                }
                .right-s{
                    width: 100%;
                    padding-bottom: 20px;
                    .imagem-suites{
                        width: 100%;
                    }
                    .nome-num{
                        width: 80%;
                        margin-left: 10%;
                        .valores-horas{       
                            top: 68%;
                        }
                        .title-background{    
                            font-size: 230px; 
                            white-space: nowrap; 
                        }
                        .nome{
                            font-size: calc(2em + 1vw);
                        }
                    }
                    .lSAction{
                        .lSNext{
                            margin-right: 8%;
                        }
                    }
                }
            }
        }
    }
}